.calendar-day {
  &-card {
    width: 13vw;
    min-height: 5vh;
    cursor: cell;
    background-color:  $bg-color-primary;

    &:hover {
      background: $bg-color-purple;
    }

    &--disabled {
      background-color: $bg-color-secondary !important;
      cursor: not-allowed;

      &:hover {
        background: $bg-color-secondary;
      }
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    margin-left: $padding-small;
  }

  &-content {
    padding: 0;
  }

  &-text {
    color: $tx-color-primary;
    text-align: "center";
    font-size: $font-size-extra-small;
    margin-top: $padding-medium;
  }
}

.calendar-day-reminder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  padding: $padding-small $space-medium;
  background-color: $bg-color-light-blue;
  border-radius: 0.25rem;
  margin-top: $padding-medium;
  
  cursor: pointer;
  transition: filter 0.2s;
  
  &:hover {
    filter: brightness(0.9);
  }

  &-text {
    color: $tx-color-primary;
    font-size: $font-size-extra-small;
    text-align: center;
  }
}